{% extends "base" %} {% block content %} {% block title %}
<h1 class="title">Page Not Found</h1>
{% endblock %}

<main>
  <div>
    <h2>That was not the page you were looking for</h2>
  </div>
</main>

{% endblock %}
