{% extends "base" %} {% block content %} {% block title %}
<h1 class="title">Internal Server Error</h1>
{% endblock %}

<main>
  <div>
    <h2>Well, I guess I haven't learned as much as I'd like to have...</h2>

    Sorry about that, I'm still learning as much as I can about this so you'll
    just have to be a little patient.

    <br />
    <br />
    In the meantime click <a href="/">here</a> to go back to something that
    should hopefully work.
  </div>
</main>

{% endblock %}
