{% extends "base.html" %} {% block content %} {% load martortags %}

<div class="title-background">
  <div class="caption">
    <span class="title">Blog</span>
  </div>
</div>

<main class="content-wrapper">
  <div class="content shadow rounded">
    {% for post in page.object_list %}
    <div class="blog-post" style="margin: 2em 0;">
      <h3 style="margin-bottom: 0;">
        <a href="/blog/{{ post.id }}">{{ post.title }}</a>
      </h3>
      <span style="font-style: italic;">
        Reading time (mins): {{ post.reading_time }}
      </span>
      {{ post.summary|safe_markdown }}
    </div>
    {% endfor %}

    <div style="display: flex; justify-content: center;">
      {% if page.has_previous %}
      <a
        href="/blog?1"
        class="pure-button"
        style="
          background-color: var(--secondary);
          color: var(--background-colour);
          margin-right: 1em;
          width: 8em;
        "
      >
        Previous
      </a>
      {% endif %} {% if page.has_next %}
      <a
        href="/blog?2"
        class="pure-button"
        style="
          background-color: var(--secondary);
          color: var(--background-colour);
          width: 8em;
        "
      >
        Next
      </a>
      {% endif %}
    </div>
  </div>
</main>

{% endblock %}
