{% extends "base.html" %} {% block content %}

<div class="title-background">
  <div class="caption">
    <span class="title">Pyxxilated Studios</span>
  </div>
</div>

<main class="content-wrapper">
  <div class="content shadow rounded">
    <p>
      I started this website for several reasons:

      <ol>
        <li>
          To learn about Web Development
        </li>
        <li>
          To host some of my projects
        </li>
        <li>
          A place I could put some writings
        </li>
        <li>
          To show off some of my projects, and host my CV
        </li>
      </ol>

      So, that's what this website is -- and basically just that.
    <br />
    <br />
      Enjoy!
    </p>
  </div>
</main>

{% endblock %}
