{% extends "base.html" %} {% block content %} {% load martortags %}

<div class="title-background">
  <div class="caption">
    <span class="title">Projects</span>
  </div>
</div>

<main class="content-wrapper">
  {% for project in projects %}
  <div class="content shadow rounded">
    <!-- <li class="bordered"> -->
    <a href="{{ project.link }}">
      <h3 style="text-align: unset; padding: 0;">
        {{ project.title }}
      </h3>
    </a>
    {{ project.description|safe_markdown }}
  </div>
  {% endfor %}
</main>
{% endblock %}
